body{
   font-family: "Roboto", sans-serif;
    color: #434455;

}
ul li{
    list-style-type: none;
}

nav {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.logo {
    text-decoration: none;
    color: var(--iris, #4D5AE5);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo span {
    color: var(--navyblue, #2E2F42);
}

nav ul {
    list-style-type: none;
    display: flex;
}



nav ul li a {
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

nav ul li a:hover {
    color: var(--iris-hover, #6E78F0);
}

ul {
    list-style-type: none;
}

nav ul li {
    list-style-type: none;
    
    text-decoration: none;
   

}

address {
   
    top: 0;
    right: 15px;
    transform: none;
    outline: none;
   
    font-size: 14px;
    line-height: 1.5;
    color: #333;
           
      
           
    
}

address ul {
    list-style-type: none;
    outline: none;
}

address ul li {
    display: inline-block;
    outline: none;
   
   
}

address ul li a {
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    letter-spacing: 0.32px;
    outline: none;
  
}


span {
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.background-1 {
    background-image: url(/images/dark-bg6.jpg);
}

.main-title {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
 
    transform: translate(-50%, -50%);
    color: white;
   
}

.button-1 {
    
 
    bottom: 40%;
    
    
    align-items: flex-start;
   
    background: var(--iris, #4D5AE5);
    color: white;
    
}

.button-1:hover {
    background: var(--iris-hover, #6E78F0);
}

h3{
        color: var(--navyblue, #2E2F42);
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
       
}
p{
    color: var(--slate, #434455);
      
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
  
}
.wrapper{
      
      
       justify-content: center;
      
       flex-wrap: wrap;
}
.container-button{
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}


