:root{
    --iris-hover: #6E78F0;
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate: #434455;
    --iris: #434455;
    --footer-bg-color: #2e2f42;
    --iris: #2e2f42;
    --text-color: #2e2f42;
    --title-color: #2e2f42;
    --logo-text-color: #4d5ae5;
    --custom-color: #4d5ae5;
}
body{
   font-family: "Roboto", sans-serif;
   color: #434455;

}

.link {

    text-decoration: none;
    color: var(--iris, #4d5ae5);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 18px;
    
    
}



.log{
    color: var(--navyblue, #2E2F42);
    letter-spacing: 0.03em;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris, #4d5ae5);
    text-decoration: none;
    font-family: "Raleway", sans-serif,;
    font-size: 18px;
    font-weight: 800
}
.stu{

    color: var(--title-color, #2e2f42);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    --iris: #434455;
    font-family: "Raleway", sans-serif;
    color: var(--text-color, #2e2f42);
    text-decoration: none;

}

.stu:hover{
    color: #404bbf;
}
.stu:focus{
    color: #404bbf;
}
.link-1{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.link-1:hover{
    color: #404bbf;
}
.link-1:focus{
    color: #404bbf;
}

 span {
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #f4f4fd
}



.main-title {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
 
    transform: translate(-50%, -50%);
    color: white;
   
}

p{
    color: var(--slate, #434455);
      
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
  
}
.container-button{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris, #4D5AE5);
    background-color: var(--iris, #4D5AE5);
    cursor: pointer
    
}
.container-button:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}
.container-button:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    
}
.list{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--iris, #2e2f42);

}
.link:hover{
 color: #404BBF;
}
.link:focus{
color: #404BBF;
}
.app{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.ffe{
    background-color: var(--footer-bg-color, #2e2f42);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-text-color, #4d5ae5);
}
.add{
font-style: normal;
color: var(--slate,#434455);


}

.log{
    color: var(--iris, #4D5AE5);
    text-decoration: none;
}
.ema{
    text-decoration: none;
}
.ema:hover{
    color: #404bbf
}
.ema:focus{
    color: #404bbf;
}
.vbn{

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--custom-color);
}