:root{
 text-decoration: none;
}

ul{
    list-style-type: none;
}
nav ul li {
    list-style-type: none;
    display:  inline-block;
    text-decoration: none;
}
address ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    color:  var(--navyblue, #2E2F42);
    font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.logo{
    text-decoration: none;
    color: var(--iris, #4D5AE5);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
span{
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    
}
.background-1{

    background-image: url(/images/dark-bg6.jpg);

    text-align: center;

    align-items: center;

}
.main-title{
    
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    height: 40%;
   
   
    
}
.button-1{
    position: absolute;
    left: 43%;
    bottom: 30%;
    display: inline-flex;
        padding: 16px 32px;
        align-items: flex-start;
        border-radius: 4px;
        background: var(--iris, #4D5AE5);
        color: white;
        
}
.button-1:hover {
    background: var(--iris-hover, #6E78F0);
}
h3{
        color: var(--navyblue, #2E2F42);
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}
p{
    color: var(--slate, #434455);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.wrapper{
        display: flex;
        justify-self: space-between;
}
